<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- navbar sections starts  -->
    <header class="header">

        <div class="logo_container">
            <a href="/home"><img src="images/case.png" alt="Logo"></a>
        </div>

        <a href="#home"><h3>Absensi</h3></a>
        <a href="#features"><h3>Slip gaji</h3></a>
        <!-- <a href="#download">Download</a> -->
        <!-- <a href="#footer">Contact</a> -->
        <!-- <a href="#" class="btn">Log in</a> -->
        
    
        <form action="/logout"  method="POST">
            
            <input type="submit" class="btn btn-outline-danger btn-lg" value="Logout">
        </form>



    </header>
    <!-- navbar sections starts  -->

   
    <!-- home section stars  -->


    <section class="home" id="home">
      
        <div class="content">
            <!-- flash messsage -->
          <!-- <% if(result.data.flash.success.length >0){ %> -->
<!--  -->
                 <!--  -->
            <!-- <div class="alert alert-success alert-dismissible fade show" role="alert"> -->
              <!-- <strong><%= result.data.flash.success %></strong> -->
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
            <!-- </div> -->
<!--  -->
            <!-- <% } %> -->
<!--  -->
            <!-- <% if(result.data.flash.error.length >0){ %> -->
                 <!--  -->
              <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert"> -->
                <!-- <strong><%= result.data.flash.error %></strong> -->
                <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
              <!-- </div> -->
  <!--  -->
              <!-- <% } %> -->
              <!-- flash messsage end -->
            <form action="/attendanceStart"  method="POST" id="absen-btn"></form>

              
              
              <div class="container-info">
                <div class="row">
                  <div class="col-5">
                    <h2>Email</h2>  
                  </div>
                  <div class="col-5">
                    <h2 id="emailInfoButton"></h2>
                  </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <h2>Nama</h2>
                    </div>
                    <div class="col-5">
                        <h2 id="namaInfoButton"></h2>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-5">
                        <h2>Telepon</h2>
                    </div>
                    <div class="col-5">
                        <h2 id="telpInfoButton"></h2>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-5">
                        <h2>Jabatan</h2>
                    </div>
                    <div class="col-5">
                        <h2 id="jabatanInfoButton"></h2>
                    </div>
                  </div>
              </div>



            <div class="menu-edit">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Edit data           
                </button>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    Change password         
                </button>
  
                            

            </div>



            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        
                        
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary btn-lg">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Modal 2-->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <form method="post" action="/ChangePassword">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Old password</label>
                            <input type="password" class="form-control" id="oldPasswordinput" name="oldPassword">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">New password</label>
                            <input type="password" class="form-control" id="newPasswordinput" name="newPassword">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirm new password</label>
                            <input type="password" class="form-control" id="newPasswordinputVal" name="newPasswordValidation">
                          </div>
                       
                       
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary btn-lg" id="save-password">Save changes</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>



        </div>


        <div class="image">
            <img src="images/work.jpg" alt="illustration-hero" class="resized-image">
        </div>
    </section>


    <!-- home section ends -->



    


    <!-- footer section starts  -->

   <section class="footer" id="footer">
       

       <div class="credit">created by
           <span>Rian Rafli</span> | all rights reserved
       </div>
   </section>

    <!-- footer section ends -->
    <script>
        // var myModal = document.getElementById('exasaaseModal')
        // var myInput = document.getElementById('myInput')

        // myModal.addEventListener('shown.bs.modal', function () {
        //   myInput.focus()
        // })
    </script>
    <script src="home.js" ></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>